@charset "UTF-8";
section{
	min-height: 100vh;
	width: 100vw;
	background-color: #2F3C42;
	display: flex;
	justify-content: center;
	align-items: center;
}
main{
	padding: 20px 40px;
	background-color: #37474F;
	width: fit-content;
	height: fit-content;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	color: white;
	gap: 20px;
}
main h1{
	font-size: 2rem;
}
main .ligne{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
	gap: 20px;
}
.ligne :first-child{
	font-weight: 600;
}
a{
	display: block;
	padding: 15px 30px;
	background-color: #4FABA2;
	width: fit-content;
	text-decoration: none;
	color: white;
	font-weight: 700;
}