@charset "UTF-8";
section {
	min-height: 100vh;
	width: 100vw;
	background-image: url('../images/bg.png');
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	padding: 20px 25px;
	background-color: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(15px);
	max-width: 400px;
	width: fit-content;
	height: fit-content;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	color: white;
	gap: 10px;
	border-radius: 15px;
}
main h1 {
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
}
.info{
	width: 100%;
}
main .ligne{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px 0px;
	gap: 20px;
}
.ligne :first-child{
	font-weight: 600;
}
a{
	padding: 10px 0;
	border-radius: 6px;
	backdrop-filter: blur(12.5px);
	width: 100%;
	min-height: 40px;
	flex-shrink: 0;
	border: none;
	font-size: 1rem;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-family: "Montserrat";
	font-weight: 700;
	letter-spacing: 2px;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
	background: linear-gradient(94deg, #808658 0%, #4E542B 53.12%);
	display: inline-block;
    text-align: center;
    line-height: 1.2;
}
a:hover{
	transform: scale(1.05);
}